<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <header th:replace="layout/plantilla_navbar :: header"></header>
        <main>
            <div class="basket">
                <div class="basket-labels">
                    <ul>
                        <li class="item item-heading">Item</li>
                        <li class="price">Price</li>
                        <li class="quantity">Quantity</li>
                        <li class="subtotal">Subtotal</li>
                    </ul>
                </div>
                    <div class="basket-product">
                        <th:block th:each="item : ${listcartItems}">
                                <div class="item">
                                    <div class="product-image">
                                       <!-- <img width="120" style="text-align: center;" th:src="@{${'/images/product-image/' + product.id + '/' + product.image}}"> -->
                                    </div>
                                    <div class="product-details" th:each="product: ${item.product}">
                                        <div th:if="${product.name==null || product.name.empty}">
                                            There are no products.
                                        </div>
                                        <h1 th:text="${product.name}"><strong><span class="item-quantity" th:text="${item.quantity}"></span></strong></h1>
                                        <p th:text="'Product code: ' + ${product.id}"></p>
                                    </div>
                                </div>
                                <div th:each="product: ${item.product}" class="price" th:text="${product.prize}"></div>
                                    <div class="quantity">
                                        <span th:text="${item.quantity}" class="quantity-field"></span>
                                        <br>
                                        <a th:href="@{/updateCart/{id}/{quantity} (id=${item.id}, quantity=${item.quantity} + 1)}">
                                                <button class="mySearchButton mt-2">+</button>
                                        </a>
                                        <a th:href="@{/updateCart/{id}/{quantity} (id=${item.id}, quantity=${item.quantity - 1})}">
                                            <button class="mySearchButton mt-2">-</button>
                                        </a>
                                    </div>
                                <div class="subtotal" th:each="product: ${item.product}" th:text="${product.prize}"></div>
                                <div>
                                    <a th:href="@{/delete/cartItem/{id} (id=${item.id})}">
                                        <button class="mySearchButton" onclick="removeItem(this)">Remove</button>
                                    </a>
                                </div>
                        </th:block>
                    </div>
            </div>
            <aside>
                <div class="summary" th:each="item : ${listcartItems}">
                    <div class="summary-total-items"><span class="total-items" th:text="${item.quantity}"></span> Items in your Bag</div>
                    <div class="summary-subtotal">
                        <div class="subtotal-title">Subtotal</div>
                        <div class="subtotal-value final-value" id="basket-subtotal" th:each="product: ${item.product}" th:text="${product.prize * item.quantity}"></div>
                    </div>
                    <div class="summary-total">
                        <div class="total-title">Total</div>
                        <div class="total-value final-value" id="basket-total" th:each="product: ${item.product}" th:text="${product.prize * item.quantity}"></div>
                    </div>
                    <div class="summary-checkout">
                        <button class="checkout-cta">Go to Secure Checkout</button>
                    </div>
                </div>
            </aside>
        </main>
    </body>
</html> 