<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <header th:replace="layout/plantilla_navbar :: header"></header>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <table class="table table-striped table-hover table-borderless">
                        <thead>
                        <tr>
                            <th scope="col"><center>#</center></th>
                            <th scope="col"><center>Item</center></th>
                            <th scope="col"><center>Price</center></th>
                            <th scope="col"><center>Quantity</center></th>
                            <th scope="col"><center>Actions</center></th>
                            <th scope="col"><center>Subtotal</center></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${listcartItems}" class="table-borderless">
                            <th scope="row">
                               <center><img width="100" style="text-align: center;" th:each="product: ${item.product}" th:src="@{${'/images/product-image/' + product.name + '/' + product.image}}"></center>
                            </th>
                            <td><center th:each="product: ${item.product}" th:text="${product.name}"></center></td>
                            <td><center th:each="product: ${item.product}" th:text="${product.prize}"></center></td>
                            <td><center th:text="${item.quantity}"></center></td>
                            <td>
                                <center>
                                    <a th:href="@{/updateCart/{id}/{quantity} (id=${item.id}, quantity=${item.quantity} + 1)}">
                                        <button class="addButton">+</button>
                                    </a>
                                    <a th:href="@{/updateCart/{id}/{quantity} (id=${item.id}, quantity=${item.quantity - 1})}">
                                        <button class="removeButton">-</button>
                                    </a>
                                    <a th:href="@{/delete/cartItem/{id} (id=${item.id})}">
                                        <button class="deleteCRUDButton" onclick="removeItem(this)"><i class="fa-solid fa-trash"></i></button>
                                    </a>
                                </center>
                            </td>
                            <td><center th:each="product: ${item.product}" th:text="${product.prize * item.quantity}"></center></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <div class="summary" >
                        <div class="summary-total-items"><span class="total-items" th:text="${totalQuantity}"></span> Items in your Bag</div>
                        <div class="summary-subtotal">
                            <div class="subtotal-title">Subtotal</div>
                            <div class="subtotal-value final-value" id="basket-subtotal" th:text="${totalPrize}"></div>
                        </div>
                        <div class="summary-total">
                            <div class="total-title">Total</div>
                            <div class="total-value final-value" id="basket-total" th:text="${totalPrize}"></div>
                        </div>
                        <div>
                            <button class="mySearchButton">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 