<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla_bootstrap :: head"></head>
<body>
<header th:replace="layout/plantilla_navbar :: header"></header>
<h1 align="center" class="title titol">Provider</h1>
<hr/>

<center>
    <a th:href="@{/formProvider}">
        <button class="editCRUDButton">
            Create
        </button>
    </a>
    <button class="editCRUDButton">
        Update
    </button>
    <button class="deleteCRUDButton">
        Delete
    </button>
</center>


<div class="container mt-4">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Name & Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Direction</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="provider: ${listProviders}">
            <td>
                <div class="d-flex align-items-center">
                    <img
                            src="../static/images/default_profile.png" th:src="@{images/default_profile.png}"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                    />
                    <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${provider.name}"></p>
                        <p class="text-muted mb-0" th:text="${provider.email}"></p>
                    </div>
                </div>
            </td>
            <td>
                <span class="rounded-pill d-inline" th:text="${provider.phone}"></span>
            </td>
            <td th:text="${provider.website}"></td>
            <td th:text="${provider.direction}"></td>
            <td>
                <a th:href="@{/edit/provider{id} (id=${provider.id})}">
                    <button type="button" class="editCRUDButton">
                        Edit
                    </button>
                </a>
                <a th:href="@{/delete/provider{id} (id=${provider.id})}">
                    <button type="button" class="deleteCRUDButton">
                        Delete
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>