<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla_bootstrap :: head"></head>
<body>
<header th:replace="layout/plantilla_navbar :: header"></header>
<h1 align="center" class="title titol">Products</h1>
<hr/>

<center>
    <a th:href="@{/formProduct}">
        <button class="editCRUDButton">
            Create
        </button>
    </a>
    <button class="editCRUDButton">
        Update
    </button>
    <button class="deleteCRUDButton">
        Delete
    </button>
</center>

<div class="container mt-4">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Id-Provider</th>
            <th>Categories</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${listProducts}">
            <td>
                <div class="d-flex align-items-center">
                    <img
                            src="../static/images/default_profile.png" th:src="@{images/default_profile.png}"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                    />
                    <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${product.name}"></p>
                        <p class="text-muted mb-0" th:text="${product.prize}"></p>
                    </div>
                </div>
            </td>
            <td th:each="provider: ${product.providers}" > <!-- th:each="provider: ${product.providers}" -->
                <p class="fw-normal mb-1" th:text="${provider.name}"   ></p> <!-- th:text="${provider.name}"   th:text="${product.providers}" -->
            </td>
            <td th:each="category: ${product.categories}">
                <span class="rounded-pill d-inline"  th:text="${category.name}"></span> <!-- th:text="${product.categories}" -->
            </td>
            <td th:text="${product.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>