<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <header th:replace="layout/plantilla_navbar :: header"></header>
        <h1 align="center" class="title titol">Dashboard</h1>
        <hr>
        <div class="content">
            <div class="group">
                <div class="products small_product" th:each="product : ${products}">
                    <table>
                        <tr>
                        <p th:text="${product.name}"></p>
                        <p th:text="${product.prize}+'$'"></p>
                        <p><a th:href="@{/product/{id}(id=${product.id})}">View product</a></p>
                        </tr>
                    </table>
                </div>

                <!--

               <div class="products large_product group">
                   <a th:href="@{/product}"><p>Link product</p></a>
                                            <p th:text="${product.name}"></p>
                        <p th:text="${product.prize}+'$'"></p>
                            <p><a th:href="@{/product/{id}(id=${product.id})}">View product</a></p>
               </div>-->

            </div>
        </div>
    </body>
</html>