<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <header th:replace="layout/plantilla_navbar :: header"></header>
        <h1 align="center" class="title titol">Dashboard</h1>
        <hr>

        <div class="center">
            <table class="border border-dark table-erp" >
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Prize</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="producte : ${products}"> 
                    <td>
                        <input type="checkbox">
                    </td>
                    <td th:text="${producte.id}"></td>
                    <td th:text="${producte.name}"></td>
                    <td th:text="${producte.prize}"></td>
                    <td th:text="${producte.category}"></td>
                    <td th:text="${producte.description}"></td>
                    <td><a th:text="Edit"/></td>
                    <td><a th:text="Delete"/></td>
                </tr>
            </table>
        </div>
        <div class="content">

            <div class="group">
                <div class="products small_product">    
                    <a th:href="@{/product}"><p>Link product</p></a>
                </div>

                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>
            </div>

            <div class="group">
                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products small_product">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>
            </div>

            <div class="products large_product group">
                <a th:href="@{/product}"><p>Link product</p></a>

            </div>

            <div class="products large_product group">
                <a th:href="@{/product}"><p>Link product</p></a>

            </div>

            <div class="products large_product group">                    
                <a th:href="@{/product}"><p>Link product</p></a>

            </div>

            <div class="products large_product group">                    
                <a th:href="@{/product}"><p>Link product</p></a>
            </div>

        </div>
    </body>
</html>