<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <header th:replace="layout/plantilla_navbar :: header"></header>
        <h1 align="center" class="title titol">Dashboard</h1>
        <hr>

        <div class="center table-erp">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Prize</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <tr th:each="product : ${products}"> 
                                    <td>
                                        <input type="checkbox"/>
                                    </td>
                                    <td th:text="${product.id}"></td>
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.prize}"></td>
                                    <td th:text="${product.category}"></td>
                                    <td th:text="${product.description}"></td>
                                    <td><a th:text="Edit"/></td>
                                    <td><a th:text="Delete"/></td>
                                </tr>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="content">
            <div class="group">
                <div class="products small_product">    
                    <a th:href="@{/product}"><p>Link product</p></a>
                    <table>
                        <tr th:each="product : ${products}"> 
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.prize}"></td>
                        </tr>
                    </table>
                </div>

                <div class="products small_product">    
                    <a th:href="@{/product}"><p>Link product</p></a>
                    <table>
                        <tr th:each="product : ${products}"> 
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.prize}"></td>
                        </tr>
                    </table>
                </div>

                <div class="products small_product">    
                    <a th:href="@{/product}"><p>Link product</p></a>
                    <table>
                        <tr th:each="product : ${products}"> 
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.prize}"></td>
                        </tr>
                    </table>
                </div>

                <div class="products small_product">    
                    <a th:href="@{/product}"><p>Link product</p></a>
                    <table>
                        <tr th:each="product : ${products}"> 
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.prize}"></td>
                        </tr>
                    </table>
                </div>
                
                <br>
                <br>

                <div class="products large_product group">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products large_product group">
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products large_product group">                    
                    <a th:href="@{/product}"><p>Link product</p></a>

                </div>

                <div class="products large_product group">                    
                    <a th:href="@{/product}"><p>Link product</p></a>
                </div>
            </div>
        </div>
    </body>
</html>