<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <header th:replace="layout/plantilla_navbar :: header"></header>

        <p>Logged user: <b><span sec:authentication="name"></span></b></p>


        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
        </div>

        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or
                password.</div>
        </div>

        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered
                to our awesome app!</div>
        </div>
    </body>
</html>