<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Main Dashboard</h1>

        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
        </div>

        Logged user: <span sec:authentication="name"></span>

        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Email</th>
            </tr>
            <tr th:each="user : ${usuaris}"> 
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </table>

    </body>
</html>