<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla_bootstrap :: head">
</head>
<body>
<header th:replace="layout/plantilla_navbar :: header"></header>
<h1 align="center">Management</h1>
<div align="center">
    <div style="max-width: 400px;" class="manage-buttons">
        <a th:href="@{/crud_product}"><button type="button" class="mySearchButton">PRODUCTS</button></a>
        <a th:href="@{/crud_client}"><button type="button" class="mySearchButton">USERS</button></a>
    </div>
    <div style="max-width: 400px;" class="manage-buttons">
        <a th:href="@{/crud_admin}"><button class="mySearchButton">ADMINS</button></a>
        <a th:href="@{/crud_provider}"><button class="mySearchButton">PROVIDERS</button></a>
    </div>
</div>
</body>
</html>