<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla_bootstrap :: head"></head>
<body class="background-login">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <img src="../static/images/logo.png" th:src="@{/images/logo.png}"/>
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                        <form method="POST" enctype="multipart/form-data" th:action="@{/process_register}" th:object="${user}" >
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Name</label>
                                <input id="name" type="text" class="form-control" th:field="*{firstName}" name="name"
                                       required autofocus>
                                <div class="invalid-feedback">
                                    Name is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="surname">Surname</label>
                                <input id="surname" type="text" class="form-control" th:field="*{lastName}"
                                       name="surname" value="" required
                                       autofocus>
                                <div class="invalid-feedback">
                                    Surname is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="dni">DNI/NIF/NIE</label>
                                <input id="dni" type="text" class="form-control" pattern="[0-9]{8}[A-Za-z]{1}" title="You must put 8 numbers and 1 letter"
                                       th:field="*{dni}" name="dni"
                                       maxlength="9" value="" required
                                       autofocus>
                                <div class="invalid-feedback">
                                    DNI/NIF/NIE is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" name="email" th:field="*{email}"
                                       value="" required>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="phone">Phone</label>
                                <input id="phone" type="tel" class="form-control" th:field="*{phone}" maxlength="9"
                                       name="phone" required>
                                <div class="invalid-feedback">
                                    Phone is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password">Password</label>
                                <input id="password" type="password" class="form-control" th:field="*{password}"
                                       name="password" required>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="address">Address</label>
                                <input id="address" class="form-control" name="address" th:field="*{address}" value=""
                                       required>
                                <div class="invalid-feedback">
                                    Address is requires
                                </div>
                            </div>
                            <center>
                                <div class="mb-3">
                                    <div class="custom-file">
                                        <label for="fileImage">Upload Profile (Max size 1MB)</label>
                                        <input type="file" id="fileImage" class="form-control" name="fileImage"
                                               accept="image/*" >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <p>
                                        <img id="thumbnail" alt="Logo Preview"/>
                                    </p>
                                </div>
                            </center>
                            <script>
                                $(function(){
                                    $("#fileImage").change(function(event) {
                                        var x = URL.createObjectURL(event.target.files[0]);
                                        $("#thumbnail").attr("src",x);
                                        $("#thumbnail").attr("width",100);
                                        $("#thumbnail").attr("height",100);
                                        console.log(event);
                                    });
                                })
                            </script>
                            <p class="form-text text-muted mb-3">
                                By registering you agree with our terms and condition.
                            </p>
                            <center>
                                <button type="submit" class="myLoginButton container">
                                    Register
                                </button>
                            </center>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Already have an account? <a th:href="@{/login}" class="text-dark">Login</a>
                        </div>
                    </div>
                </div>
                <div class="text-center white-letter mt-5 mb-3">
                    Copyright &copy; 2022 &mdash; Sales 4 Us
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>