<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla_bootstrap :: head"></head>
    <body>
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="text-center my-5">
                            <img src="" alt="logo" width="100">
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <h1 class="fs-4 card-title fw-bold mb-4">Reset Password</h1>
                                <div>
                                    <h2>Reset Your Password</h2>
                                </div>

                                <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                                    <input type="hidden" name="token" th:value="${token}" />
                                    <div class="border border-secondary rounded p-3">
                                        <div>
                                            <p>
                                                <input type="password" name="password" id="password" class="form-control"
                                                       placeholder="Enter your new password" required autofocus />
                                            </p>
                                            <p>
                                                <input type="password" class="form-control" placeholder="Confirm your new password"
                                                       required oninput="checkPasswordMatch(this);" />
                                            </p>
                                            <p class="text-center">
                                                <input type="submit" value="Change Password" class="btn btn-primary" />
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-center mt-5 text-muted">
                            Copyright &copy; 2022 &mdash; Sales 4 Us
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            function checkPasswordMatch(fieldConfirmPassword) {
                if (fieldConfirmPassword.value != $("#password").val()) {
                    fieldConfirmPassword.setCustomValidity("Passwords do not match!");
                } else {
                    fieldConfirmPassword.setCustomValidity("");
                }
            }
        </script>
    </body>
</html>
